body {
	background-color: #e2e2e2;
	min-width: 960px;
	margin: 0;
	letter-spacing: 1px;
	font-family: Montserrat, sans-serif;
}
img {
	display: block;
	border: 0;
}
/** box-shadow **/
.box {
	background-color: #e7e7e7; /* Needed for IE */
	display: inline-block;
	-moz-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	-webkit-box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	box-shadow: 0 0 1px 3px rgba(207, 207, 207, 0.6);
	border:4px solid rgba(0,0,0,0.2);
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShdow=true, ShadowOpacity=0.80);
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.box > img {
	display: block;
	position: relative; /* This protects the inner element from being blurred */
}
.images
{
	width:960px;
	height:382px;
}
.clearfix {
	width: 960px;
	margin: 0 auto;
}
.clearfix:after {
	clear:both;
	content:"";
	display:block;
	line-height:0;
	height:1%;
	visibility:hidden;
}
/*------------ Sprites ------------*/
.more, .subscribe, input[type='submit'] {
	background: url(../images/interface.png) no-repeat;
}
.phone, .mail, .home, .fax, #footnote .connect a {
	background: url(../images/icons.png) no-repeat;
}
.frame1, .frame2, .frame3, .frame4, .frame5, .news > li {
	background: url(../images/frames.png) no-repeat;
}
.more, .subscribe, input[type='submit'] {
	background-position: -107px 0;
	color: #fff;
	display: inline-block;
	font: 12px/28px Arial, Helvetica, sans-serif;
	height: 28px;
	width: 97px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}
.more:hover {
	background-position: 0 0;
}
.more1
{
	background-color:rgba(0,0,0,.5);
	color: #fff;
	display: inline-block;
	font: 12px/28px Arial, Helvetica, sans-serif;
	height: 28px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	border-radius:3px; 
}
.more1:hover {
	background-position: 0 0;
	background-color: rgba(0,0,0,.8);
}
.subscribe, input[type='submit'] {
	background-position: -222px -38px;
	height: 38px;
	line-height: 38px;
	width: 212px;
}
.subscribe:hover, input[type='submit']:hover {
	background-position: 0 -38px;
}
.frame1 {
	background-position: -117px 0;
	height: 150px;
	width: 203px;
	margin: 0 auto 6px;
	padding: 8px 7px 0;
	text-align: center;
}
.frame2 {
	
	width: 924px;
	margin: 0 auto px;
	padding: 6px 7px 0;
	text-align: center;
}
.frame3 {
	background-position: -344px 0;
	height: 221px;
	width: 586px;
	margin: 0 auto 6px;
	padding: 7px 7px 0;
	text-align: center;
}
.frame4 {
	background-position: 0 0;
	height: 108px;
	width: 93px;
	padding: 7px 7px 0;
	text-align: center;
}
.frame5 {
	background-position: -610px -238px;
	height: 220px;
	width: 268px;
	padding: 7px 6px 0;
	text-align: center;
}
/*------------ HEADER ------------*/
#header {
	background: #4e5944 url(../images/bg-header.jpg) repeat-x left bottom;
	padding: 30px 15px;
}
/** logo **/
.logo {
	float: left;
	display: inline-block;
}
/** navigation **/
.navigation {
	float: right;
	list-style: none;
	margin: 28px 0 0;
	padding: 0;
}
.navigation li {
	float: left;
	margin-left: 30px;
	position: relative;
}
.navigation li > a {
	color: #b8c6ac;
	font: bold 13px/24px Times, "Times New Roman", serif;
	text-decoration: none;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
}
.navigation1 li > a {
	text-decoration: none;
	color: #606060;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 24px;
}
.navigation li.active > a, .navigation > a:hover {
	color: #fff;
}
.navigation li a:hover
{
	color:rgba(255,255,255,0.9);
}
.navigation li > div {
	background-color: #888888;
	display: none;
	width: 110px;
	position: absolute;
	left: 0px;
	top: 24px;
}
.navigation li:hover > div {
	display: block;
}
.navigation li > div a {
	color: #b8c6ac;
	font: bold 13px/24px "Times New Roman", Times, serif;
	display: block;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
}
.navigation li > div a:hover {
	color: #fff;
}
/*------------ CONTENTS ------------*/
#contents {
	padding-bottom: 24px;
}
#contents > div.clearfix:first-child {
	width: 940px;
	padding: 30px 10px 0;
}
h1 {
	color: #57614e;
	font: 29px/30px "Times New Roman", Times, serif;
	margin: 0 0 12px;
	text-transform: uppercase;
}
h2 {
	color: #626262;
	font: 19px/24px "Times New Roman", Times, serif;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
}
p {
	color: #626262;
	font: 14px/24px Arial, Helvetica, sans-serif;
}
p a {
	color: #626262;
}
p a:hover {
	color: #333333;
}
/** Adbox **/
#adbox {
	background: url(../images/bg-adbox.png) no-repeat center bottom;
	border-bottom: 0px solid #fff;
	padding: 10px 0px 15px 0px;
}
#adbox > div {
	background-color: #e9e9e9;
	width: 958px;
	border: 1px solid #fff;
	margin: 0 auto;
	position: relative;
}
#adbox > div img {
	float: right;
}
#adbox .detail {
	font-family: Times, "Times New Roman", serif;
	height: 185px;
	line-height: 48px;
	width: 308px;
	text-align: center;
	position: absolute;
	left: 54px;
	top: 90px;
}
#adbox .detail h1 {
	color: #4e5944;
	font-size: 30px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	text-transform: none;
}
#adbox .detail p {
	color: #4e5944;
	font: 25px/48px "Times New Roman", Times, serif;
	margin: 0;
}
.highlight {
	padding-top: 30px;
}
.highlight .clearfix {
	width: 940px;
	height:300px;
}
.highlight h1 {
	font-size: 32px;
	line-height: 36px;
	padding: 12px 0 12px;
	text-transform: none;
}
.highlight h2 {
	color: #57614e;
	margin-bottom: 24px;
}
.testimonial, .main, .sidebar > div h2, .sidebar ul li, .main > .section {
	
	background-position: left top;
	background-repeat: repeat-y;
}
.testimonial {
	float: right;
	width: 260px;
	margin-left: 20px;
	padding: 24px 20px;
}
.testimonial > span {
	color: #626262;
	display: block;
	font: 14px/24px Arial, Helvetica, sans-serif;
	text-align: right;
}
.featured {
	padding: 30px 0;
}
.featured > h2 {
	color: #728063;
	width: 940px;
	margin: 0 auto 24px;
	padding: 0 10px;
}
.featured ul {
	list-style: none;
	padding: 0;
}
.featured li {
	float: left;
	width: 220px;
	margin: 0 10px;
}
.featured li p {
	padding-left: 4px;
}
.featured li p b {
	display: block;
	text-transform: uppercase;
}
.featured li .more {
	margin-left: 4px;
}
.main {
	float:right;
	min-height: 960px;
	width: 600px;
}
.main h1 + div.frame3 {
	margin-top: 36px;
}
.main > .section {
	background-position: left bottom;
	background-repeat: repeat-x;
	width: 600px;
	margin-bottom: 16px;
	margin-left: -28px;
	padding-left: 30px;
}
.main > .last-child, .sidebar ul li.last-child {
	background: none;
}
.main > .section ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main > .section ul li {
	display: inline-block;
	margin: 0 0 24px;
}
.main > .section ul li .frame4 {
	float: left;
	margin-bottom: 1px;
	margin-right: 20px;
}
.main > .section ul li p {
	margin: 6px 0 0;
}
.main > .section ul li p b {
	display: block;
	text-transform: uppercase;
}

.practices {
	list-style: none;
	display: inline-block;
	width: 640px;
	margin: 0 0 0 -20px;
	padding: 0;
}
.practices li {
	float: left;
	margin: 0 20px 36px;
	position: relative;
}
.practices li a {
	text-decoration: none;
}
.practices li a span {
	background-color: #696969;
	color: #e2e2e2;
	display: block;
	font: 19px/46px "Times New Roman", Times, serif;
	height: 46px;
	width: 265px;
	text-transform: uppercase;
	position: absolute;
	bottom: 21px;
	left: 8px;
	*left: 6px;
}
.practices li a:hover span {
	background-color: #393939;
}
.sidebar {
	float:left;
	width: 290px;
}
.sidebar > div h2 {
	background-position: left bottom;
	background-repeat: repeat-x;
	margin: 0 0 6px;
	padding-bottom: 18px;
}
.sidebar > div:first-child h2 {
	margin-bottom: 0;
	margin-top: 6px;
}
.sidebar > div p {
	margin: 0;
	padding-bottom: 24px;
	padding-right: 30px;
}
.sidebar > div p span {
	display: block;
	text-align: right;
}
.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar ul li {
	background-position: left bottom;
	background-repeat: repeat-x;
	display: inline-block;
	min-height: 36px;
	width: 280px;
	border-bottom: 1px solid #f1f1f1;
	padding: 5px 0px 5px 5px;
	background-color: white;
}
.sidebar ul li > a span.box {
	float: left;
	margin-right: 20px;
}
.sidebar ul li a {
	color: #755c02;
	font: 13px/24px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.sidebar ul li a:hover {
	color: #728063;
}
.sidebar ul li img.box {
	float: left;
	margin: 4px 20px 12px 0;
}
.sidebar .contact li {
	padding-left: 0;
	border-bottom: 1px solid #50643c;
	background-color: transparent !important;
}
.sidebar .contact li p {
	color:#50643c;
}
.sidebar .contact li p span.home {
	float: left;
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-left: -30px;
	padding: 0;
}
.sidebar .contact li p em {
	display: block;
	font-size: 19px;
	font-style: normal;
}
.sidebar>div>a{
	color: #ffffff;
	font-size: 13px;
	float: right;
	line-height: 24px;
}
.sidebar>div>span{
	color: rgb(255,255,255);
	font-size: 20px;
}
.sidebar>div{
	background-color: #50643c;
	padding: 5px;
}
.borderRight{
	border-right:5px solid #50643c;
}
.news {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news > li {
	background-position: 0 -238px;
	display: inline-block;
	height: 270px;
	width: 560px;
	margin-bottom: 12px;
	padding: 6px 30px 0 6px;
}
.news > li .box {
	float: left;
	margin-right: 10px;
}
.news > li p.info, .details p.info {
	font-size: 11px;
	margin: 0;
	padding-top: 24px;
}
.author {
	color: #755c02;
}
.news > li h2, .details h2 {
	color: #728063;
	letter-spacing: 0;
	margin: 35px 0px 5px 0px;
}
.news > li .more {
	float: right;
}
.images {
	float: left;
	width: 210px;
	margin-right: 20px;
	padding-right: 10px;
}
#contents .images img.box {
	border: 5px solid #fff;
}
.details {
	float: left;
	width: 360px;
}
.details p.info {
	padding-top: 0;
}
.message label {
	color: #626262;
	display: block;
	font: 13px/24px Arial, Helvetica, sans-serif;
}
.message input[type='text'] {
	height: 24px;
	width: 590px;
	margin: 0 0 18px;
	padding: 0 4px;
}
.message textarea {
	height: 110px;
	width: 590px;
	margin: 0 0 18px;
	padding: 0 4px;
	overflow: auto;
	resize: none;
}
.message input[type='submit'] {
	cursor: pointer;
	border: none;
}

/*------------ FOOTER ------------*/
#footer span.shadow
{
	background: url(../images/shadows.png) repeat-x;
}
#footer div.section
{
	background: url(../images/separators.png) no-repeat;
}
#footer {
	background-color: #4e5944;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 24px;
	width: 100%;
	padding: 20px 0px 10px 0px;
	margin-top: 20px;
}
#footer span.shadow {
	background-position: 0 0px;
	display: block;
	height: 8px;
	width: 100%;
	position: absolute;
	left: 0;
	top: -8px;
}
#footer h5 {
	font-size: 11px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 12px;
	text-transform: uppercase;
}
#footer a {
	color: #ffffff;
	text-decoration: none;
}
#footer > div {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
#footer > div:after {
	clear:both;
	content:"";
	display:block;
	height:0;
	line-height:0;
	visibility:hidden;
}
#footer div.section {
	float: left;
	background-position: 0 -498px;
	min-height: 180px;
	width: 25.33%;
	padding: 16px 0 16px 0px;
}
#footer div.section:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#footer ul {
	display: inline-block;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#footer li {
	margin: 0 0 6px;
}
#footer .navigation li, #footer .connect li {
	float: left;
	width: 100px;
}

/*-------------End footer------------------*/


#footnote {
	background: url(../images/bg-footnote.jpg) repeat-x left top;
	border-top: 1px solid #fff;
	padding: 15px 0 30px;
}
#footnote p {
	color: #b5c1aa;
	font: 11px/30px Arial, Helvetica, sans-serif;
	margin: 0;
	padding-right: 0px;
	text-align: right;
	text-transform: uppercase;
}
#footnote .connect {
	float: left;
	display: inline-block;
	margin: 0 10px;
	padding: 6px 0;
}
#footnote .connect a {
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-right: 6px;
}
#footnote .connect a.facebook {
	background-position: 0 -112px;
}
#footnote .connect a.twitter {
	background-position: 0 -140px;
}
#footnote .connect a.googleplus {
	background-position: 0 -168px;
}
#footnote .connect a.pinterest {
	background-position: 0 -196px;
}

/*------- Table Section ----*/
tr
{
	height:30px;
}
tr:first-child td:first-child
{
	border-top-left-radius:5px;
}
tr:first-child td:last-child
{
	border-top-right-radius:5px;
}
tr:last-child td:first-child
{
	border-bottom-left-radius:5px;
}
tr:last-child td:last-child
{
	border-bottom-right-radius:5px;
}
tr:nth-child(odd) td
{
	background-color:rgb(100,100,62);
	color:rgba(255,255,255,0.9);
	padding-left: 20px;
}
tr:nth-child(even) td
{
	background-color:#FFFFFF;
	color:rgba(0,0,0,0.7);
	padding-left: 20px;
}
tr:nth-child(odd):hover td
{
	color:#FFFFFF;
}
tr:nth-child(even):hover td
{
	color:rgb(0,0,0);
}

/*------- End Table Section -----*/
/*---------clients table------------*/
.padd tr
{
	color:#666B85;	
}
.padd td
{
	padding:7px;
	height:40px;
	text-align:left;
}

.padd th:first-child
{
	border-top-left-radius:8px;
}
.padd th:last-child
{
	border-top-right-radius:8px;
}
.padd tr:last-child td:first-child
{
	border-bottom-left-radius:8px;
}
.padd tr:last-child td:last-child
{
	border-bottom-right-radius:8px;
}
.padd tr:nth-child(odd) td
{
	background-color:#EBEBEB;
	color:#9e9ea2;
	font-size: 15px;
	font-family:arial;
	font-weight:500;
}
.padd tr:nth-child(even) td
{
	background-color:#FFFFFF;
	color:#4E5066;
	font-size: 15px;
	font-family:arial;
	font-weight:500;
}
.padd tr:nth-child(odd):hover td
{
	background-color:#9e9ea2;
	color:#FFFFFF;
}
.padd tr:nth-child(even):hover td
{
	background-color:rgb(190,190,195);
	color:#FFFFFF;
}
/*---------------client table close-----------*/
.product
{
	float: left;
	padding-right: 10px;
}
/*-----------slider-----------*/
#slider 
{
	width: 950px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}
#slider .slides 
{
	display: block;
	width: 17000px;
	height: 350px;
	margin: 0;
	padding: 0;
}
#slider .slide 
{
	float: left;
	list-style-type: none;
	width: 1008px;
	height: 350px;
	background-size:cover;
}
.slide1 
{
	background-image: url('');
	background-size:cover;
	background-position: center;
	background-attachment:fixed;
}
.slide2 
{
	background-image: url('');
	background-size:cover;
	background-attachment:fixed;
	background-position: center; 

}
.slide3 
{
	background-image: url('');
	background-size:cover;
	background-attachment:fixed;
	background-position: center; 
}
.slide4
{
	background-image: url('');
	background-size:cover;
	background-attachment:fixed;
	background-position: center; 
}
.slide5
{
	background-image: url('');
	background-size:cover;
	background-attachment:fixed;
	background-position: center; 
}
.slide6
{
	background-image: url('');
	background-size:cover;
	background-attachment:fixed;
	background-position: center; 
}
/*---------slider closed----------*/

.clientlist
{
	padding: 20px 0px 10px 0px;
    color: #4e4e4e;
    font-size: 17px;
    text-align: center;
}
.padd
{
	padding-top: 10px;
	padding-left: 210px;
}
.letter
{
	padding: 15px 0px 0px 210px ;
}
.letter1
{
	padding:0px ;
}
.container
{
	position: relative;
	overflow:hidden;
}
a 
{
  text-decoration:none;
}
h1.main,p.demos
{
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s;
}
.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 594px;
	height: 382px;
	z-index: 0;
	background: -webkit-radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 1));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.sp-container h2 
{
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 90px;
	width: 100%;
	text-align: center;
	color: transparent;
	-webkit-animation: blurFadeInOut 3s ease-in forwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1
{
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
.sp-container h2.frame-2 
{
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.sp-container h2.frame-3 
{
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
.sp-container h2.frame-4 
{
	font-size: 200px;
	-webkit-animation-delay: 9s;
	-moz-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
}
.sp-container h2.frame-5
{
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span
{
	-webkit-animation: blurFadeIn 3s ease-in 12s backwards;
	-moz-animation: blurFadeIn 1s ease-in 12s backwards;
	-ms-animation: blurFadeIn 3s ease-in 12s backwards;
	animation: blurFadeIn 3s ease-in 12s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-5 span:nth-child(2) 
{
	-webkit-animation-delay: 13s;
	-moz-animation-delay: 13s;
	-ms-animation-delay: 13s;
	animation-delay: 13s;
}
.sp-container h2.frame-5 span:nth-child(3)
{
	-webkit-animation-delay: 20s;
	-moz-animation-delay: 14s;
	-ms-animation-delay: 14s;
	animation-delay: 14s;
}
.sp-globe 
{
	position: absolute;
	width: 282px;
	height: 273px;
	left: 50%;
	top: 50%;
	margin: -137px 0 0 -141px;
	background: transparent url(http://web-sonick.zz.mu/images/sl/globe.png) no-repeat top left;
	-webkit-animation: fadeInBack 3.6s linear 14s backwards;
	-moz-animation: fadeInBack 3.6s linear 14s backwards;
	-ms-animation: fadeInBack 3.6s linear 14s backwards;
	animation: fadeInBack 3.6s linear 14s backwards;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	-webkit-transform: scale(5);
	-moz-transform: scale(5);
	-o-transform: scale(5);
	-ms-transform: scale(5);
	transform: scale(5);
}
.sp-circle-link 
{
	position: absolute;
	left: 50%;
	bottom: 40px;
	margin-left: -50px;
	text-align: center;
	line-height: 100px;
	width: 100px;
	height: 100px;
	background: #fff;
	color: #3f1616;
	font-size: 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: fadeInRotate 0.1s linear 16s backwards;
	-moz-animation: fadeInRotate 1s linear 16s backwards;
	-ms-animation: fadeInRotate 1s linear 16s backwards;
	animation: fadeInRotate 1s linear 16s backwards;
	-webkit-transform: scale(1) rotate(360deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
.sp-circle-link:hover {
	background: #ADD6FF;
	color: #990000;
}
/**/
.copyRights{
	text-align: center;
	letter-spacing: 2px;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	color:#ffffff;
}
.backToTop{
	padding: 0px 10px;
	width: 200px !important;
	background-color: red;
}
@-webkit-keyframes blurFadeInOut
{
	0%
	{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%,75%
	{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100%
	{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn
{
	0%
	{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50%
	{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100%
	{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack
{
	0%
	{
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50%
	{
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100%
	{
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate
{
	0%
	{
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100%
	{
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/
@-moz-keyframes blurFadeInOut
{
	0%
	{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%,75%
	{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100%
	{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn
{
	0%
	{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100%
	{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack
{
	0%
	{
		opacity: 0;
		-moz-transform: scale(0);
	}
	50%
	{
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100%{
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate
{
	0%
	{
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100%
	{
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/
@keyframes blurFadeInOut
{
	0%
	{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%,75%
	{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100%
	{
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn
{
	0%
	{
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50%
	{
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100%
	{
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack
{
	0%
	{
		opacity: 0;
		transform: scale(0);
	}
	50%
	{
		opacity: 0.4;
		transform: scale(2);
	}
	20%
	{
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate
{
	0%
	{
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100%
	{
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}
@media screen and (max-width: 980px) {
	body{
		width: fit-content;
	}
	.padd{
		padding: 15px;
		width:100%;
	}
	.letter{
		padding: 15px;
	}
	#contents{
		min-height: 1500px;
	}
}

</style>